body.style{
	background-image: url("../work-in-progress/img/bg.jpg");
	background-size: cover;
}
section.loading{
    margin-left: 5%;
	margin-top: 150px;
	font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
section.loading img{
	width: 300px;
    height: 300px;
}
article.social{
	text-align: center;
	float: left;
    font-family: "Verdana", cursive, sans-serif;
    font-size: 15px;
    margin-left: 5%;
}
article.social img{
	width: 30px;
    height: 30px;
 	box-shadow: 5px 5px 5px black;
 	border-radius: 45px;
}
article.social img:hover{
 	 opacity: 0.3;
}
article.justEat{
	text-align: center;
	font-size: 15px;
	float: right;
    font-family: "Verdana", cursive, sans-serif;
    margin-left: 5%;
}
article.justEat img{
	height: 30px;
    width: 100px;
 	box-shadow: 2px 2px 2px black;
 	border-radius: 5px;
}
article.justEat img:hover{
 	 opacity: 0.3;
}
ul li{ 
	padding : 5px;
	display:inline;
}
a:link{
    text-decoration: none;
	color: black;
}
a:visited{
	color: black;
}
a:hover {
  color: red;
}
section.footer{
	padding: 0px;
	max-width: 800px;
}